/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif, 'Muli'; }
* {    box-sizing: border-box;}

.my-primary-button {
    width: 130px;
    height: 130px;
    transition: ease 0.3s;
    span {
      font-size: 4rem;
    }
    p {
      margin: 0;
    }
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
