<div class="main-container">
  <button class="main-container__start-button" [matTooltipShowDelay]="500" [matTooltip]="gameStarted ? 'Kliknij by zaatakować' : 'Kliknij by wykonać ruch'" mat-icon-button (click)="makeAttack()" [disabled]="isButtonDisabled">
    <img src="assets/attack.png" alt="">
  </button>
  <div class="main-container__slider-container">
    <mat-slider
    class="custom-slider"
    [ngClass]="{'visible': gameStarted}"
    [disabled]="true"
    [max]="max"
    [min]="min"
    [step]="1">
    <input matSliderThumb [(ngModel)]="value" #value1>
  </mat-slider>
  </div>
</div>
