.main-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 1rem;
  &__start-button {
    align-self: center;
    width: 130px;
    height: 130px;
    aspect-ratio: 1/1;
    transition: ease 0.3s;
    img {
      width: 100%;
      height: 100%;
    }
    p {
      margin: 0;
    }
  }
  &__slider-container {
    .custom-slider {
      width: 100%;
      margin: 0;
      visibility: hidden;
    }
    .visible {
      visibility: visible;
      animation: show 1s;
    }
    ::ng-deep .mat-mdc-slider {
      .mdc-slider__track {
        height: 10px;
        border-radius: 5px;
        background: linear-gradient(to right, rgba(148, 148, 152, 0.76) 30% , rgb(5, 234, 146) 50% , rgba(148, 148, 152, 0.76) 70%)
      }
      .mdc-slider__track--inactive {
        background: transparent;
      }
      .mdc-slider__track--active_fill {
        background: transparent;
        border: none;
      }
      .mdc-slider__thumb-knob {
        border-radius: 5px;
        width: 5px;
        height: 30px;
        border: none;
      }
    }
    ::ng-deep .mdc-slider--disabled {
      opacity: 1;
      .mdc-slider__thumb-knob {
        background: url("../../../assets/sword.png") no-repeat;
        background-size: cover;
        width: 30px;
      }
    }

    }
  }

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
