<div class="game-container">
  <div class="game-container__blur-background"></div>
  <div class="game-container__items">
    <div class="game-container__user-stats left">
      <app-user-stats [fighter]="user" [health]="userHealth"></app-user-stats>
    </div>
    <div class="game-container__game center">
      <app-mat-slider-example class="hidden" [ngClass]="{'visible' : !userAttackLocked}" (attackValue)="attackOpponent(0, $event , opponentHealth , 1)"></app-mat-slider-example>
      <div class="game-container__game-history">
        <h2 *ngIf="fightHistory.attackHistory.length > 0">Fight history</h2>
        <div #historyList class="game-history__list">
          <div *ngFor="let attack of fightHistory.attackHistory" [ngClass]="{'red-bg' : attack.attackerID === 1}">
            <small [textContent]="attack.attackerID === 0 ? 'User attack' : 'Enemy attack'"></small>
            <p>
                <span>
                  <i class="material-icons">
                    <span class="material-icons" [textContent]="attack.attackerID === 0 ? '&#xe5c8;' : '&#xe5c4;'"></span>
                  </i>
                  {{attack.attackValue}}
                </span>
              <span>
                  <span class="material-icons">&#xe87c;</span>
                {{attack.leaveHealth}}
                </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="game-container__user-stats right">
      <app-user-stats [fighter]="opponent" [health]="opponentHealth"></app-user-stats>
    </div>
  </div>
  <div class="game-container__result" *ngIf="!fightIsActive">
    <h2 [textContent]="fightHistory.winnerID === 0 ? 'You win!' : 'You lost'"></h2>
    <button class="game-container__restart-button" color="accent" mat-raised-button (click)="reset()">
      <i class="material-icons">
        <span class="material-icons">&#xef55;</span>
      </i>
      <p>Play again</p>
    </button>
  </div>
</div>
