.game-container {
  display: flex;
  height: 100vh;
  overflow: auto;
  &__items {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: white;
    gap: 3rem;
    position: relative;
    overflow: hidden;
    aspect-ratio: 16/9;
    border-radius: 12px;
    animation: show 2s ease;
    background: radial-gradient(ellipse at center, #7b1fa255 0%, rgba(0,0,0,0) 60%) no-repeat center bottom;
  }
  &__blur-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
    background: url("/assets/background.jpg") no-repeat center bottom;
    background-size: cover;
  }
  &__user-stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 10px;
  }
  &__game {
    padding: 1rem;
    min-width: 250px;
  }
  &__game-history {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 50px 0 1rem;
    position: relative;
    width: 100%;
    min-width: 250px;
    height: 250px;
    h2 {
      height:50px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      margin: 0;
      padding: 1rem;
      text-align: center;
      font-size: 1rem;
      border-bottom: 1px solid #7b1fa2;
      letter-spacing: 1px;
      font-weight: 500;
    }
    .game-history__list {
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 4px;
        overflow-y: scroll;
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 10px;
      }
      div {
        box-shadow: 1px 1px 5px 5px #0000003d;
        padding: .5rem;
        animation: show .3s;
        &:last-child {
          border-bottom: none;
        }
        p {
          display: flex;
          justify-content: space-between;
          margin: 0;
          span {
            display: flex;
            align-items: center;
            gap: 1px;
            img {
              height: 1rem;
              width: 1rem;
              margin-right: .2rem;
            }
          }
        }
      }
      .primary-bg {
        background: #7b1fa2;
        color: white;
      }
    }
  }
  &__game-attack-dialog {
    visibility: hidden;
    padding: 1rem;
    background: indianred;
    color: white;
    border-radius: 5px;
  }
  .hidden {
    visibility: hidden;
    animation: hide 1s;
  }
  .visible {
    visibility: visible;
    animation: show 1s;
  }

  &__result {
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
    z-index: 999;
    backdrop-filter: brightness(0.2);
  }
  &__restart-button {
    align-self: center;
    height: auto;
    transition: ease 0.3s;
    span {
      font-size: 4rem;
    }
    p {
      margin: 0;
    }
  }
}



@media (max-width: 1200px) {
  .game-container {
    background: transparent;
    .center {
      width: 100%;
    }
    &__game {
      order: 3;
    }
    &__items {
      width: 100%;
      background: transparent;
      border: none;
      gap: 0;
      justify-content: space-around;
      aspect-ratio: unset;
      flex-wrap: wrap;
    }
    &__user-stats {
      justify-content: space-between;
      align-items: center;
      height: 100%;
      text-align: center;
    }
    &__game-history {
      min-height: 200px;
      min-width: unset;
    }
  }

}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
